.main {
    margin-top: 175px;
    margin-bottom: 100px;
}

.secao {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerDescricao {
    display: flex;
    width: calc(50% + 32px);   /*width: 250px; */
    min-width: 226px;
    max-width: 524px;
    padding: 0 5px;
    font-size: 16;
    font-weight: 400;
    font-family: var(--poppins);
    color: var(--azul);
    text-align: center;
    margin-bottom: 24px;

}

.container-form {
    width: 50%;
    min-width: 280px;
    max-width: 492px;
    background: var(--cinza-nivel1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    font-family: var(--poppins);
    padding: 16px 16px 0 16px;
}

.form-mensagem-send > .container{
    display: contents;
}

.container-imput {
    display: flex;
    flex-direction: column;
    margin-top: 16px;    
}
.container-imput .label {
    color: var(--azul);
    font-weight: 600;
    font-size: 16px;
}

.input-text {
    font-family: var(--poppins);
    background-color: var(--branco);
    height: 48px;
    border: none;
    border-radius: 6px;
    box-shadow:  0px 2px 2px rgba(0, 0, 0, 0.15);
    text-align: left;
    padding: 0 16px;
    font-size: 14px;
    margin-top: 8px;

}

.input-textarea {
    border: none;
    border-radius: 6px;
    background-color: var(--branco);
    box-shadow:  0px 2px 2px rgba(0, 0, 0, 0.15);
    padding: 16px 16px 0 16px;
    font-family: var(--poppins);
    margin-top: 16px;

}

.container-mensagemError {
    width: auto;
    max-width: 397px;
    margin: 0 19px;
}

.mensagemError {
    line-height: 14.5px;
    color: var(--vermelho-coral);
    font-size: 15px;
    text-align: left;
    margin-top: 5px;
}


.input-text, .input-textarea {
    min-width: 248px;
}

.input-enviar {
    display: flex;
    justify-content: space-around;
    border: none;
    margin: 32px auto;
}




@media screen and (min-width: 320px) {

}

@media screen and (min-width: 360px) {

}

@media screen and (min-width: 768px) {

}
@media screen and (min-width: 1440px) {

}

.ff0{font-family:sans-serif;visibility:hidden}@font-face{font-display:swap;font-family:ff1;src:url(https://files.passeidireto.com/fa24ffad-6fbc-4c08-a05c-3b93adafdf4f/f1.woff)format("woff")}.ff1{font-family:ff1;line-height:1.364258;font-style:normal;font-weight:normal;visibility:visible}@font-face{font-display:swap;font-family:ff2;src:url(https://files.passeidireto.com/fa24ffad-6fbc-4c08-a05c-3b93adafdf4f/f2.woff)format("woff")}.ff2{font-family:ff2;line-height:1.432129;font-style:normal;font-weight:normal;visibility:visible}@font-face{font-display:swap;font-family:ff3;src:url(https://files.passeidireto.com/fa24ffad-6fbc-4c08-a05c-3b93adafdf4f/f3.woff)format("woff")}.ff3{font-family:ff3;line-height:1.106934;font-style:normal;font-weight:normal;visibility:visible}.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0)}.v0{vertical-align:0.000000px}.ls1{letter-spacing:-0.071200px}.ls2{letter-spacing:-0.035520px}.ls0{letter-spacing:0.000000px}.sc_{text-shadow:none}.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent}@media screen and(-webkit-min-device-pixel-ratio:0){.sc_{-webkit-text-stroke:0 transparent}.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none}}.ws7{word-spacing:-18.781440px}.ws0{word-spacing:-11.075520px}.ws4{word-spacing:-11.004320px}.ws1{word-spacing:-10.477920px}.ws3{word-spacing:-10.457760px}.ws2{word-spacing:-10.178880px}.ws6{word-spacing:-7.515200px}.ws5{word-spacing:0.000000px}._1{margin-left:-1.063680px}._2{width:1.306560px}._3{width:2.643520px}._4{width:34.049600px}._0{width:267.490880px}.fc1{color:transparent}.fc0{color:rgb(0,0,0)}.fs0{font-size:32.160000px}.fs1{font-size:39.840000px}.y1{bottom:0.000000px}.y28{bottom:2.160000px}.y21{bottom:2.860000px}.y24{bottom:2.980000px}.y1e{bottom:3.000000px}.y0{bottom:284.000000px}.y1c{bottom:284.210000px}.y1b{bottom:302.330000px}.y1a{bottom:316.250000px}.y19{bottom:330.170000px}.y18{bottom:344.210000px}.y17{bottom:358.130000px}.y16{bottom:372.050000px}.y15{bottom:386.090000px}.y14{bottom:399.890000px}.y13{bottom:413.830000px}.y12{bottom:427.750000px}.y11{bottom:455.230000px}.y10{bottom:469.150000px}.yf{bottom:483.070000px}.ye{bottom:496.990000px}.yd{bottom:517.630000px}.yc{bottom:535.630000px}.yb{bottom:549.550000px}.ya{bottom:563.590000px}.y9{bottom:577.510000px}.y8{bottom:591.460000px}.y7{bottom:605.260000px}.y6{bottom:619.300000px}.y5{bottom:633.220000px}.y4{bottom:647.140000px}.y3{bottom:674.140000px}.y26{bottom:691.080000px}.y25{bottom:711.360000px}.y23{bottom:731.520000px}.y22{bottom:748.920000px}.y20{bottom:751.920000px}.y1f{bottom:770.520000px}.y27{bottom:771.120000px}.y1d{bottom:774.240000px}.y2{bottom:804.960000px}.h6{height:11.760000px}.h5{height:12.240000px}.h4{height:12.360000px}.h2{height:41.415703px}.h3{height:42.057656px}.h1{height:519.000000px}.h0{height:841.920000px}.w10{width:3.720000px}.w9{width:4.440000px}.wf{width:7.320000px}.w12{width:13.080000px}.w11{width:14.520000px}.wb{width:33.360000px}.wc{width:40.440000px}.wd{width:57.840000px}.w7{width:64.440000px}.w5{width:65.640000px}.w3{width:73.560000px}.we{width:91.680000px}.wa{width:125.640000px}.w4{width:194.760000px}.w8{width:265.920000px}.w6{width:340.920000px}.w1{width:538.500000px}.w2{width:594.959991px}.w0{width:594.960000px}.x1{left:0.000009px}.x10{left:10.080000px}.x2{left:25.679991px}.x0{left:28.500000px}.x4{left:39.479991px}.x8{left:41.040000px}.x5{left:54.479991px}.x7{left:55.703991px}.x9{left:131.040000px}.xd{left:136.440000px}.xe{left:139.080000px}.xa{left:330.840000px}.xb{left:333.960000px}.xc{left:428.400000px}.xf{left:535.440000px}.x6{left:555.719991px}.x3{left:566.519991px}