.continer-form{
    text-align: center;
    /* font-family: var(--poppins); */
}

.container-input {
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.form-etiqueta{
    text-align: center;
    color: var(--cinza-nivel3);
    margin-bottom: 4px;
    font-size: var(--tamanho-da-fonte-nivel1);
}

.campoDeTexto{
    background-color: var(--cinza-nivel1);
    height: 40px;
    border: none;
    border-radius: 6px;
    box-shadow:  0px 2px 2px rgba(0, 0, 0, 0.15);
    text-align: center;
}

.container-mensagemError {
    height: 20px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

.container-mensagemError > .container{
    position: absolute;
    left: -196px;
    width: 397px;
}

.mensagemError {
    line-height: 25px;
    color: var(--vermelho-coral);
    font-size: 15px;
}

.form-etiqueta, .campoDeTexto, .mensagemError{
    font-family: var(--poppins);

}

.container-input > .container{
    display: contents;
}

.container-senha > .container > .container{
    display: grid;
    justify-items: end;
    align-items: center;
    width: auto;
}

/* .form-senha{
    box-sizing: border-box;
    padding-right: 43px;
    padding-left: 43px;
    height: 42px;
    width: 349px;
} */

.form-senha, .container-visibility{
    grid-area: 1 / 1 / 1 / 1;
}

.container-visibility {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;

    border: none;
    background: none;
}

.container-visibility:hover{
    cursor: pointer;
}

.visibility{
    width: 20px;
    height: 20px;
}

.visibility_on{
    display: none;
}

.visibility_on, .visibility_off{
    stroke: #999999;
    fill: #999999;
    stroke-width: 5;
    opacity: 1;
    stroke-dasharray: none;
}

/* ----trecho a ser removido----
.link-supoteDeSenha{
    font-family: var(--poppins);
    color: var(--vermelho-coral);
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 8px;
}*/

.form-botao-enviar{
    border: none;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}
.campoDeTexto{
    padding-right: -50px;
}

@media screen and (min-width: 320px) {
    .campoDeTexto{
        min-width: 220px;
        padding-right: 35px;
        padding-left: 35px;
    }
}

@media screen and (min-width: 360px) {
    .campoDeTexto{
        min-width: 265px;
    }
}

@media screen and (min-width: 768px) {
    .form-etiqueta{
        margin-bottom: 8px;
        font-size: var(--tamanho-da-fonte-nivel2);
    }

    .campoDeTexto{
        min-width: 344px;
        padding-right: 43px;
        padding-left: 43px;
    }


    .form-email{
        width: calc(40.7916%);
        max-width: 552px;
        min-width: 344px;
    }

    .form-senha{
        box-sizing: border-box;
        padding-right: 43px;
        padding-left: 43px;
        height: 42px;
        min-width: 300px;
    }

    .form-botao-enviar{
        font-size: 18px;
        line-height: 24px;
        width: 164px;
    }
}

@media screen and (min-width: 1440px) {
    .form-botao-enviar{
        font-weight: 700;
        width: 174px;
    }

    .form-senha{
        width: 362px;
    }
}