body{
    background: url(../../img/ilustracao/Patas2.svg) no-repeat top right / 189.96px,
                url(../../img/ilustracao/Forma_1.svg) no-repeat top left / 352.11px, 
                url(../../img/ilustracao/Forma_2rotate180.png) no-repeat left 368px /84.03px 415px;
    background-color: var(--branco);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media screen and (min-width: 768px) {
    body{    
        background: url(../../img/ilustracao/Patas2.svg) no-repeat top right / 292px,
                    url(../../img/ilustracao/Forma_1.svg) no-repeat top left / 559.8px, 
                    url(../../img/ilustracao/Forma_2.png) no-repeat right 250px / 134.44960021972656px 664px;
        background-color: var(--branco);
    }
}

@media screen and (min-width: 1440px) {
    body{    
        background: url(../../img/ilustracao/Patas2.svg) no-repeat top right / 317.67px,
                    url(../../img/ilustracao/Forma_1.svg) no-repeat top left / 559.8px, 
                    url(../../img/ilustracao/Forma_2.png) no-repeat right 215px / 134.44960021972656px 664px;
        background-color: var(--branco);
    }
}
