.cabecalho{
    display: inline-block;
}

.cabecalho > .container{
    height: 93.86px;
    width: 100vw;
    display: flex;
}

.cabecalho__container-icone{
    display:inline-block;
    margin: 0 58.61px 0 0;
}

.cabecalho__container-icone--logo{
    display: none;
}

.cabecalho__container-icone--casa{
    margin-top: 48px;
    margin-left: 48px;
}

.cabecalho__container-icone--mensagens{
    margin-top: 50.14px;
}

.cabecalho__logo{
    width: 128px;
    height: 30.86px;

}
.cabecalho__casa{
    width: 19.2px;
    height: 23px;
}

.cabecalho__mensagens{
    width: 23.14px;
    height: 18.86px;
}