:root{
    --branco:#ffffff;
    --cinza-nivel1:#f7f7f7;
    --cinza-nivel2:#bcbcbc;
    --cinza-nivel3:#737380;
    --creme:#FCF0E3;
    --vermelho-coral:#FC7071;
    --vermelho-coral-fraco:#FF9D9E;
    --verde:#36d6ad;
    --azul:#3772ff;

    --poppins:'Poppins', sans-serif;
    --IBM-Plex-Sans: 'IBM Plex Sans', sans-serif;
}
.botao{
    background-color: var(--vermelho-coral);
    border-radius: 6px;
    box-sizing: border-box;
    color: var(--branco);
    font-family: var(--poppins);
    font-weight: 600;
    height: 40px;
    width: 280px;
    display: inline-block;
    text-align: center;
    padding: 11px 29px;
}

.botao:hover{
    background-color: var(--vermelho-coral-fraco);
}