.rodape{
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--verde);
    height: 104px;
    width: 100%;
}

.rodape__creditos{
    display: inline-block;
    color: var(--branco);
    font-family: var(--poppins);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

/* @media screen and (max-width: 767px) {
    @media screen and (min-height: 1071px) {
        .rodape{
            position: fixed;
            bottom: 0;
            left: 0;
        }
    }

} */

/* @media screen and (min-width: 768px) {
    @media screen and (min-height: 1176px) {
        .rodape{
            position: fixed;
            bottom: 0;
            left: 0;
        }
    }
} */
/*
@media screen and (min-width: 1440px) {
    .rodape{
        height: 80px;
    }
    
    /* @media screen and (min-height: 1047px) {
        .rodape{
            position: fixed;
            bottom: 0;
            left: 0;
        }

    } 

}*/

/*@media screen and (min-height: 922px) {
    .rodape{
        position: fixed;
        bottom: 0;
        left: 0;
    }
}*/

/*@media screen and (min-height: 1188px) {
    .rodape{
        position: fixed;
        bottom: 0;
        left: 0;
    }
}*/
