html{
min-width: fit-content;
}

body{

}

:root{
    --branco:#ffffff;
    --cinza-claro-fundo:#F6F6F6;
    --cinza-nivel1:#f7f7f7;
    --cinza-nivel2:#bcbcbc;
    --cinza-nivel3:#737380;
    --creme:#FCF0E3;
    --vermelho-coral:#FC7071;
    --vermelho-coral-fraco:#FF9D9E;
    --verde:#36d6ad;
    --azul:#3772ff;

    --poppins: 'Poppins', sans-serif;
    --IBM-Plex-Sans: 'IBM Plex Sans', sans-serif;
    
    --tamanho-da-fonte-nivel1: 16px;
    --tamanho-da-fonte-nivel2: 18px;
}
.botao{
    background-color: var(--vermelho-coral);
    border-radius: 6px;
    box-sizing: border-box;
    color: var(--branco);
    font-family: var(--poppins);
    font-weight: 600;
    text-decoration: none;
    height: 40px;
    width: 180px;
    display: inline-block;
    text-align: center;
}

.botao:hover{
    background-color: var(--vermelho-coral-fraco);
}

.material-symbols-rounded {
    font-size: 18px;
    color: #999999;
  font-variation-settings:
  'FILL' 0,
  'wght' 500,
  'GRAD' ,
  'opsz' 20,
}
