.continer-form{
    text-align: center;
    font-family: var(--poppins);
}


.container-email, .container-senha{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-etiqueta{
    color: var(--cinza-nivel3);
    margin-bottom: 4px;
    font-size: var(--tamanho-da-fonte-nivel1);
}

.container-email{
    margin-bottom: 24px;
}

.campoDeTexto{
    background-color: var(--cinza-nivel1);
    width: 312px;
    height: 40px;
    border: none;
    border-radius: 6px;
    box-shadow:  0px 2px 2px rgba(0, 0, 0, 0.15);
    text-align: center;
}

.container-senha{
    margin-bottom: 24px;
}

.container-senha .container{
    display: grid;
    justify-items: end;
    align-items: center;
    width: auto;
}

.form-senha, .container-visualizarSenha{
    grid-area: 1 / 1 / 1 / 1;
}

.container-visualizarSenha{
    margin-right: 16px;
    width: 19px;
    height: 19px;
}

.material-symbols-rounded:hover{
    cursor: default;

}

.link-supoteDeSenha{
    font-family: var(--poppins);
    color: var(--vermelho-coral);
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 8px;
}

.form-botao-enviar{
    border: none;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}

@media screen and (min-width: 768px) {
    .form-etiqueta{
        margin-bottom: 8px;
        font-size: var(--tamanho-da-fonte-nivel2);
    }

    .campoDeTexto{
        min-width: 344px;
    }

    .container-email{
        margin-bottom: 24px;
    }

    .form-email{
        width: calc(40.7916%);
        max-width: 552px;
        min-width: 344px;
    }

    .form-botao-enviar{
        font-size: 18px;
        line-height: 24px;
        width: 164px;
    }
}

@media screen and (min-width: 1440px) {
    .form-botao-enviar{
        font-weight: 700;
        width: 174px;
    }

    .form-senha{
        width: 362px;
    }
}