.container-descricao {
    width: 226px;
    margin: 85px 0 15px 0;
    line-height: 20px;
}

.container-descricao:first-child {
    text-align: center;
    font-size: 16px;
    color: var(--azul);
    font-family: var(--poppins);
    font-weight: 400;
}

.pet-container {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 1;

    height: 196px;
    width: 360px;

    margin-top: 16px;

    background: var(--cinza-claro-fundo);

}

.pet-img {
    grid-column: 1 / 1;
    grid-row: 1 / 1;

    width: 148px;
    height: 148px;

    margin: 24px 0 24px 24px;
}

.text-container {
    grid-column: 2 / 2;
    grid-row: 1 / 1;

    margin: 24px 0 24px 14px;

    text-align: left;
    font-family: var(--poppins);
}

.pet-nome {
    color: var(--azul);
    font-size: 16px;
    font-weight:600;
}

.pet-descricao {
    color: var(--cinza-nivel3);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    padding-top: 8px;

}

.text-container .container{
    color: var(--cinza-nivel3);
    margin-top: 30px;
}

.pet-endereco {
    font-size: 12px;
    font-weight: 400;
    padding-bottom: 8px;
}

.pet-contato{
    background: url(../../../img/icone/ícone_mensagem.svg) no-repeat left 1px;
    display: flex;
    height: 20px;
    line-height: 16px;
    font-size: 10px;
    color: var(--cinza-nivel3);
    padding-left: 24px;
}