.secao__container-recepcao{
    margin: 24px 0 24px 0;
}

.secao__title-recepcao{
    color: var(--branco);
    font-family:  var(--IBM-Plex-Sans);
    font-weight: 500;
    font-size: 26px;
    margin: 0 0 16px 0;
    height: 46px;
}

.secao__container-recepcao > .container{
    width: 248px;
    height: 72px;
}

.secao__recepcao__descricao{
    color: var(--branco);
    font-family: var(--poppins);
    font-weight:400;
    font-size: 16;
    line-height: 24px;
}
.secao__recepcao__descricao .texto-2{
    display: none;
}

.secao__recepcao__descricao .texto-2 br{
    display: none;
}

@media screen and (min-width: 463px) {
    .secao__container-recepcao > .container{
        width: 318.953px;
    }
}

@media screen and (min-width: 768px) {
    .secao__container-recepcao{
        margin: 40px 0 38px 0;
    }

    .secao__title-recepcao{
        font-family:  var(--poppins);
        font-size: 28px;
        margin: 0 0 24px 0;
    }

    .secao__recepcao__descricao{
        font-size: 18;
        line-height: 26px;
    }

    .texto-1{
        display: none;
    }

    .secao__recepcao__descricao .texto-2{
        display: inline;
    }
}

@media screen and (min-width: 1440px) {
    .secao__container-recepcao{
        margin: 40px 0 25px 0;
    }

    .secao__container-recepcao > .container{
        width: 488px;
        height: 52px;
    }

    .secao__recepcao__descricao .texto-2 br{
        display: initial;
    }
}

